.main {
    text-align: center;
    .title {
        padding-top: 20px;
        font-size: 170px;
        color:  #fff;
        background-image:  url(https://static.pexels.com/photos/4827/nature-forest-trees-fog.jpeg);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        animation: sliding-background 20s linear infinite;
    }
}

@keyframes sliding-background {
    0%,
    100% {
        background-position: 0 40%;
    }

    50% {
        background-position: 20% 40%;
    }
}
