@import url('https://fonts.googleapis.com/css?family=Bungee|Montserrat|Open+Sans&display=swap');

body {
    margin: 0;
    font-family: 'Bungee', 'Montserrat', 'Open Sans',  -apple-system, BlinkMacSystemFont,  "Roboto", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #000;
}

a {
    text-decoration: none;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
  

@import 'layout.scss';
@import 'components/main';
@import 'components/menu';
@import 'components/profile';
@import 'components/projects';


