@import url("https://fonts.googleapis.com/css?family=Montserrat:900");

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
        "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


a {
    color: #0db393;
    text-decoration: none;
}
  

@import 'layout.scss';
@import 'components/main';
@import 'components/menu';
@import 'components/profile';
@import 'components/projects';


