@import url("https://fonts.googleapis.com/css?family=Montserrat:900");


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

a {
  color: #0db393;
  text-decoration: none;
}



.header {
	position: fixed;
	left: 0;
	top: 0;
	z-index: 1;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	width: 100%;
	height: 70px;
	padding: 0 25px;
	box-sizing: border-box;
	// box-shadow: 0 4px 4px #f2f2f2;
	// background-color: #110c29;
}

.menu {
	a {
		padding: 0 10px;
	}
}
.fp-tableCell {

	// padding-top: 70px;
	// box-sizing: border-box;
}
.section {
	&-home {

	}
	&-profile {
		background-color: #f2f2f2;
	}
	&-projects {

	}
}




.main {

	// $size: 35vw;
	// $shadow: 35;
	// $primary: white;
	// $secondary: black;

	// .wrapper {
	// 	animation: sliding-background 40s linear infinite;
	// 	background: url("https://images.unsplash.com/photo-1452697620382-f6543ead73b5") no-repeat left / 120%;
	// 	height: 100vh;
	// 	text-align: center;
	// 	width: 100vw;
	// }

	// .title {
	// 	background: $primary;
	// 	color: $secondary;
	// 	font-family: "Montserrat", sans-serif;
	// 	font-size: $size;
	// 	letter-spacing: 1vw;
	// 	line-height: 100vh;
	// 	margin: 0;
	// 	mix-blend-mode: lighten;
	// 	text-transform: uppercase;
	// 	$text-shadow: ();
	// 	@for $i from 1 through $shadow {
	// 		$text-shadow: $text-shadow, 1px * $i 1px * $i $secondary;
	// 	}
	// 	text-shadow: 0 0 0px, $text-shadow;

	// 	&:before {
	// 		color: $primary;
	// 		content: attr(data-text);
	// 		margin-left: -1%;
	// 		margin-top: -1%;
	// 		position: absolute;
	// 	}
	// }

	// @keyframes sliding-background {
	// 	0%,
	// 	100% {
	// 		background-position: 0 40%;
	// 	}

	// 	50% {
	// 		background-position: 100% 40%;
	// 	}
	// }

}